<div>
  <h5>year: {{year}} month: {{month}} day: {{day}}</h5>
    <h5>hour: {{ hour }} minutes: {{minute}} seconds: {{second}}</h5>
</div>


<div align="center" style="margin-top:10px">
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>start time</th>
      <th>end time</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let m of medications">
      <td>{{m?.name}}</td>
      <td>{{m?.intakeIntervalStart }}</td>
      <td>{{m?.intakeIntervalEnd}}</td>
      <button type="button" class="btn btn-default" (click)="take(m)">Take</button>
    </tr>
    </tbody>
  </table>
</div>

<div>
  <h3 style="color:red">{{info}}</h3>
</div>
<router-outlet></router-outlet>
